html{
    font-size: 10px;
  font-family:'Barlow Condensed', sans-serif;
  }
  main{
    background:linear-gradient(180deg, hsl(180, 20%, 80%) 0%, #b3cccc 25%, #94b8b8 50%, #85adad 75%,#75a3a3 100%);
  }
  body{
    font-family:'Barlow Condensed', sans-serif;
    font-size: 1.6rem;
    line-height: 1.0;
    text-align: center;
    color: black;
    margin: 0;
  }
  
  h1{
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
  }

h2{
  font-size: 3.25rem;
}
  @media (max-width:1080px){
    img{
      max-width: 70vw;
    }
  }
  img{
    border-radius: 10px;
    display: block;
    width: auto;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px black;
    max-width: 100%;
  }
a {
  color: black;
}

a:visited {
  color: #477ca7;
}
#main {
  margin: 0px 0px;
}
ul{
  max-width: 550px;
  margin: 0 auto 60px auto;
  text-align: center;
  line-height: 1.7;
  background-color: none;
  font-family: 'Libre franklin', sans-serif;
}
li{
  margin: 16px 0;
  font-family: 'Libre franklin', sans-serif;
}

#tribute-link:hover {
  color: blue;
}
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@275&display=swap');